{% extends "registration/base.html" %}

{% block content %}

<div class="mb-3">
    <form method="post">
        <h1>Realize seu login</h1>
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="text" class="form-control" id="password" placeholder="password" name="password">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-success mt-2">Salvar</button>
        </div>
    </form>
    



{% endblock content %}
