<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deletar tarefas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
      <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">ToDo</a>
    {% if user.is_authenticated %}
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        {{user.username}}
      </button>
      <ul class="dropdown-menu">
        <li>
          <form method="post" action="{% url 'logout' %}" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="dropdown-item" style="background: none; padding: 2; margin: 2;">Logout</button>
          </form>
      </li>
      
      </ul>
    </div>
    {% endif %}
      </div>
  </nav>

  <main class='container'>
    <h1>Deseja deletar?</h1>

    <p>Tem certeza que deseja deletar <strong>todos</strong> os itens? </p>

    <form method='post'>
        {% csrf_token %}
        <button href='{% url "delete_all" %}' class='btn btn-primary'>Sim</button>
        <a href='{% url "home" %}'class='btn btn-danger'>Voltar</a>
    </form>
      
  </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>